@mixin core_fluid {
	.fluid {
		min-width: $smartphone-min-width;

		@if $fluid-background-color != false {
			background-color: $fluid-background-color;
		}
	}

	@include fluid-gutter(
		$gutter: $fluid-gutter
	);
}